<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Embedded Analytics with Tableau Cloud</title>
</head> 
<body>
    <script type='text/javascript' src='https://10az.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1429px; height: 905px;'><object class='tableauViz' width='1429' height='905' style='display:none;'><param name='host_url' value='https%3A%2F%2F10az.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;lbtableaudashboards' /><param name='name' value='Dashboard_June2022&#47;Dashboard1' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>
</body>
</html>
